# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [ --py312-plus ]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell  # See pyproject.toml for args
        additional_dependencies:
          - tomli

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.22
    hooks:
      - id: uv-lock

  - repo: https://github.com/owenlamont/uv-secure
    rev: 0.15.4
    hooks:
      - id: uv-secure

  - repo: https://github.com/mrtazz/checkmake.git
    rev: 0.2.2
    hooks:
      - id: checkmake

  - repo: local
    hooks:
      - id: uv-fmt
        name: uv run ruff format
        description: "Run Python formatting"
        entry: uv run ruff format
        language: python
        types_or: [ python, pyi, jupyter ]
        require_serial: true
        pass_filenames: false

      - id: uv-lint
        name: uv run ruff check
        description: "Run Python linting"
        entry: uv run ruff check
        language: python
        types_or: [ python, pyi, jupyter ]
        require_serial: true
        pass_filenames: false

      - id: ty-check
        name: uv run ty check
        description: "Run Ty Type checker"
        entry: uv run ty check
        language: python
        types_or: [ python, pyi, jupyter ]
        require_serial: true
        pass_filenames: false
